* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    width: 856px;
    height: 645px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .sidebar {
    background-color: #207244;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-content {
    background-color: #fff;
    width: 526px;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #207244;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
  }
  
  .download-btn {
    display: inline-block;
    background-color: #207244;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .download-btn:hover {
    background-color: #268750;
  }
  